@CHARSET "UTF-8";

#main-container {
	width: 50%;
	margin: 10em auto;
	padding: 2em;
	overflow: auto;
}

#profile-image {
	height: 13em;
	float: left;
}

#info-container {
	margin: 0 2em;
	float: left;
}

.social-icon {
	float: left;
	height: 4em;
	margin: 0 5px;
}